body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
td,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset,
iframe {
    border: 0;
}

img {
    display: block;
    border: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-size: 12px;
    font-family: "微软雅黑";
}

input,
a {
    outline: none;
}


/* body{
    width: 100%;
} */

.top {
    width: 99.9%;
    height: 50px;
    border: 1px solid #DBDCDD;
}

.top>div {
    float: right;
    /* margin-right: 30px; */
    line-height: 50px;
    /* font: size 20px; */
    font-size: 14px;
    color: #A5A5A5;
    font-weight: bold;
}

.kefu {
    margin-right: 35px;
}

.login {
    margin-right: 35px;
    cursor: pointer;
}

.car {
    margin-right: 35px;
}

.enban {
    margin-right: 70px;
}

a {
    text-decoration: none;
}

.nov {
    width: 100%;
    border-bottom: 1px solid gray;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.clearfixx::before {
    content: '';
    display: table;
    /* clear: both; */
}

.logo {
    width: 55px;
    height: 30px;
    float: left;
    margin-left: 12.2%;
    margin-top: 34px;
}

.logo img {
    width: 55px;
    height: 30px;
    /* float: left; */
}

.nov li {
    float: left;
    line-height: 97px;
    border-bottom: 3px solid white;
}

.nov li:hover {
    border-bottom: 3px solid red;
}


/* ul{
     width: ;
 } */

.nov ul {
    /* width: 47.25%; */
    width: 747.95px;
    float: left;
    margin-left: 234px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nov ul li {
    /* padding-bottom: 5px; */
    /* width:12.5%; */
    font-size: 17px;
    font-weight: 900;
    padding-left: 18px;
    padding-right: 18px;
}

.nov ul li:hover {
    cursor: pointer;
    /* padding-bottom: 10px; */
    /* border-bottom: 10px solid red; */
}

.nov .search {
    float: left;
    width: 13.25%;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    border: 1px solid #A5A5A5;
    margin-left: 2.5%;
}

.enlarge {
    float: left;
    /* margin-top: 13px;
    margin-left: 13px; */
    width: 21.23%;
    height: 27px;
    margin-top: 7px;
    text-align: center;
    line-height: 27px;
    border-right: 1px solid black;
}

.search input {
    float: left;
    width: 66.04%;
    margin-left: 6px;
    margin-top: 10px;
    border: none;
}


/* 列表滑过 显示 下拉菜单 css */

.caidan {
    width: 100%;
    height: 385px;
    background-color: rgb(243, 234, 234);
    overflow: hidden;
    z-index: 111;
    position: absolute;
    border-top: 1px solid #DBDCDD;
    /* top: 100px; */
    display: none;
}

.caidanc {
    width: 58%;
    height: 310px;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
}

.caidanc ul {
    /* float: left; */
    width: 180px;
    height: 310px;
    background-color: rgb(250, 249, 249);
    border-right: 1px solid #DBDCDD;
    /* margin-top: 35px; */
}

.caidanc ul li {
    margin-top: 8px;
    margin-left: 30px;
}

.caidanc ul li:hover {
    color: red;
}

.caidanc ul a:first-child {
    font-size: 14px;
    font-weight: 900;
}

.caidanc ul:nth-child(3) a:first-child li {
    margin-top: 35px;
}


/* 详情页 放大镜  */


/* 放大镜开始 */

.mainleft {
    position: relative;
    margin-top: 20px;
    margin-left: 97px;
    float: left;
    width: 100px;
    height: 640px;
    /* border: 1px solid black; */
}

.mainleft div:first-child {
    position: absolute;
    bottom: 45px;
    right: 0px;
}

.mainleft div:nth-child(2) {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.small img {
    margin-top: 20px;
}

.middle {
    width: 550px;
    height: 600px;
    border: 1px solid #EEEEEE;
    position: relative;
    margin-left: 200px;
    margin-top: 20px;
}

.middle>img {
    width: 550px;
    height: 600px;
}

.middle>.mask {
    width: 160px;
    height: 160px;
    background-color: rgba(248, 248, 244, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.middle .big {
    width: 550px;
    height: 550px;
    position: absolute;
    left: 105%;
    top: 0;
    overflow: hidden;
    display: none;
    z-index: 20;
}

.middle .detailsimg {
    float: left;
    margin-top: 80px;
    margin-right: 30px;
    width: 84px;
    height: 84px;
    border: 4px solid #666666;
}


/*
遮罩大小/中盒子大小 = 大盒子大小/大图的大小
*/

.middle .big>img {
    width: 1600px;
    height: 1600px;
    position: absolute;
    left: 0;
    top: 0;
}


/* .small{
    width: ;
} */

.small img {
    /* float: left; */
    width: 80px;
    height: 80px;
    /* margin:5px; */
    /* margin-left: 200px; */
    /* margin-top: 20px; */
    border: 2px solid #EEEEEE;
}

.small img.active {
    border-color: black;
}

.mask:hover {
    cursor: move;
}


/* 放大镜结束 */


/* 详情页其他布局开始 */

.fl {
    float: left;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.introduce {
    /* margin:0 0 0 30px; */
    float: right;
    width: 500px;
    height: 540px;
    /* border: 1px solid gray; */
    margin-top: 30px;
    /* margin-block-st; */
    margin-top: 20px;
    margin-right: 200px;
}


/* .down{
    float:right;
    width: 1000px;
} */


/* 详情页其他布局结束 */

.detailname {
    font-size: 22px;
    font-weight: 500;
    color: black;
    margin-top: 10px;
}

.detailprice {
    font-size: 22px;
    margin-top: 20px;
    color: red;
    font-weight: 900;
}

.detailsimg {
    margin-top: 80px;
    width: 84px;
    height: 84px;
    border: 4px solid #666666;
}

.detailsimg img {
    width: 100%;
    height: 100%;
}

.chimabiao:hover {
    cursor: pointer;
}

.chimaduizhao {
    position: relative;
    width: 150px;
}

.chimaduizhao img {
    position: absolute;
    top: 10px;
}

.chancesize {
    overflow: hidden;
}

.chancesize div:first-child {
    float: left;
    font-size: 14px;
    margin-top: 25px;
    margin-left: 20px;
    color: gray;
}

.sizeandnum {
    width: 500px;
    height: 50px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 12px;
    position: relative;
}

.chancesize ul {
    clear: both;
    width: 340px;
    height: 93px;
    /* display: flex; */
    /* border: 1px solid gray; */
    margin-left: 20px;
}

.chancesize ul li {
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    /* color: #EEEEEE; */
    margin-top: 2px;
    margin-left: 3px;
    float: left;
    width: 15%;
    height: 38px;
    border: 1px solid #EEEEEE;
}

.sizeandnum .chancesize {
    position: absolute;
    width: 400px;
    height: 155px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    top: -155px;
    /* right: 255px; */
    left: 0px;
    background-color: white;
    z-index: 99999;
}

.sizeandnum div:nth-child(2),
.sizeandnum div:nth-child(3),
.sizeandnum div:nth-child(4),
.sizeandnum div:nth-child(5),
.sizeandnum div:nth-child(6),
.sizeandnum div:nth-child(7) {
    float: left;
}

.chancechima:hover {
    cursor: pointer;
}

.chancesize:hover {
    cursor: pointer;
}

.chancechima {
    color: gray;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    width: 170px;
    height: 30px;
    margin-left: 10px;
    /* border-right: 1px solid black; */
    font-size: 14px;
}

.sizeandnum div:nth-child(4) {
    height: 30px;
    width: 40px;
    border-right: 1px solid black;
    margin-top: 10px;
}

.sizeandnum div:nth-child(4) img {
    margin: 2px auto;
}

.chancenum:hover {
    cursor: pointer;
}

.shuliangsanjiao:hover {
    cursor: pointer;
}

.chancenum {
    width: 70px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    color: gray;
}

.sizeandnum div:nth-child(7) {
    height: 30px;
    width: 40px;
    /* border-right: 1px solid black; */
    margin-top: 10px;
    margin-left: 93px;
}

.sizeandnum div:nth-child(7) img {
    margin: 2px auto;
}

.shuliangchance {
    display: none;
    position: absolute;
    width: 200px;
    height: 220px;
    /* overflow: scroll; */
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    right: 0px;
    top: -222px;
    z-index: 99999999;
}

.shuliangchanc ul:hover {
    cursor: pointer;
}

.chancenum:hover,
.shuliangsanjiao:hover {
    cursor: pointer;
}

.text:hover {
    cursor: pointer;
}

.shuliangchance ul li {
    height: 34px;
    width: 134px;
    /* border: ; */
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    margin: 5px auto;
    border: 1px solid #EEEEEE;
}

.youhuijuan {
    width: 500px;
    height: 50px;
    border-bottom: 1px solid #CCCCCC;
}

.youhuijuan div:first-child {
    float: left;
}

.text {
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: gray;
}

.youhuijuan div:nth-child(2) {
    height: 30px;
    width: 40px;
    /* border-right: 1px solid black; */
    margin-top: 10px;
    margin-left: 120px;
}

.sizeandnum div:nth-child(2) img {
    margin: 2px auto;
}

.carandbuy div {
    font-size: 17px;
    margin-top: 20px;
    float: left;
    width: 220px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 1px solid black;
}

.carandbuy div:hover {
    cursor: pointer;
}

.carandbuy div:nth-child(2) {
    margin-left: 55px;
    background-color: black;
    color: white;
}


/* 详情页下面的 大图部分 */

.bigimgdetail {
    border-top: 1px solid #EEEEEE;
    width: 100%;
    margin-top: 200px;
}

.bigimgdetail div {
    /* text-align: center; */
    width: 792px;
    margin: auto;
}


/* 底部css部分 */

.bottom {
    width: 100%;
    height: 266px;
    background-color: #292929;
}

.bottom>div {
    float: left;
}

.keepmove {
    width: 566px;
    height: 266px;
    /* background-image: url(	https://img.fishfay.com/theme/images/logo/slogan-anta-r.svg); */
}

.keepmove img {
    width: 250px;
    height: 96px;
    margin-left: 186px;
    margin-top: 87px;
}

.bottomr {
    width: 663px;
    height: 266px;
}

.righttop {
    width: 663px;
    height: 106px;
    margin-top: 47px;
}

.righttop>div {
    float: left;
}

.rtl {
    width: 424px;
    height: 106px;
    border-right: 1px solid rgb(236, 225, 225);
    color: white;
    font-size: 22px;
}

.rtl>div span:last-child {
    margin-left: 20px;
}

.rtl>div {
    margin-left: 60px;
}

.rtr {
    width: 93px;
    height: 88px;
    background-image: url(https://img.fishfay.com/theme/images/antacn/qr-code.jpg);
    background-repeat: no-repeat;
    background-size: 93px 88px;
    margin-left: 90px;
    margin-top: 7px;
}

.rightbottom {
    margin-top: 40px;
    width: 663px;
    /* height:160px ; */
    color: white;
    font-size: 14px;
}


/* 固定定位 回到顶部 的 css */

.fixed {
    width: 60px;
    height: 280px;
    border-radius: 30px;
    background-color: rgba(240, 243, 243, 0.5);
    position: fixed;
    right: 50px;
    bottom: 60px;
    z-index: 222;
}

.fixed:hover {
    cursor: pointer;
}

.fixed .p2 {
    color: #A19F9F;
}

.fixed p {
    text-align: center;
    /* font-size: 30px; */
}

.smallheng {
    width: 33px;
    height: 3px;
    background-color: black;
    margin: 10px auto;
}


/* 回到顶部 结束 */

.dropBtncart {
    background-color: white;
    margin-left: -25px;
    border: none;
    cursor: pointer;
}

.dropDowncart {
    margin: 0;
    position: relative;
    display: inline-block;
    z-index: 120;
}

.dropContentcart {
    width: 460px;
    height: 230px;
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
    border-radius: 8px 0 8px 8px;
    right: 0;
}

.dropDowncart:hover .dropBtncart {
    background-color: white;
}

.dropContentcart a {
    padding: 8px 10px;
    color: #a4a4a4;
    text-decoration: none;
    display: block;
}


/* .dropContentcart a:hover {
    color: red;
} */

.dropContentcart a {
    padding: 8px 10px;
    color: #a4a4a4;
    text-decoration: none;
    display: block;
    float: left;
    width: 100px;
    margin-right: 50px;
}


/* .dropContentcart a:hover {
    color: red;
} */

.dropDowncart:hover .dropContentcart {
    display: block;
}

.dropContentcart .carthome {
    position: absolute;
    left: 180px;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: #f4f4f4;
    border-radius: 50px;
}

.dropContentcart .myicon {
    font-size: 66px;
    font-weight: lighter;
    position: relative;
    top: 10px;
    left: 15px;
}

.dropContentcart .list {
    width: 460px;
    display: flex;
    flex-direction: column;
}

.dropContentcart .list img {
    width: 150px;
    height: 150px;
    display: block;
}

.dropContentcart .txt {
    width: 250px;
    line-height: 30px;
    float: left;
}

.dropContentcart .num {
    width: 100px;
    float: right;
}

.dropContentcart .cartword {
    text-align: center;
    display: inline-block;
    position: relative;
    left: 124px;
    top: 145px;
}

.dropContentcart .cartword p {
    color: #a4a4a4;
    text-decoration: none;
    font-size: 14px;
}

.ano {
    text-align: center;
}

.dropDowncart .jiesuan {
    position: relative;
    bottom: 0;
    float: left;
    margin-top: 50px;
    display: none;
}

.dropDowncart .jiesuan img {
    display: block;
    float: left;
    width: 40px;
    height: 32px;
    margin-left: 50px;
}

.dropDowncart .jiesuan a {
    font-size: 20px;
    background-color: rgb(237, 125, 125);
    line-height: 30px;
    width: 220px;
    height: 30px;
    display: block;
    position: absolute;
    bottom: 0;
    color: white;
}

.dropDowncart .jixugouwu {
    position: relative;
    bottom: 0;
    float: left;
    width: 220px;
    margin-top: 50px;
    display: none;
}

.dropDowncart .jixugouwu img {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 50px;
}

.dropDowncart .jixugouwu a {
    font-size: 20px;
    background-color: rgb(235, 201, 201);
    line-height: 30px;
    width: 220px;
    height: 30px;
    display: block;
    position: absolute;
    bottom: 0;
    color: white;
}