body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,td,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset,iframe{border:0; }
img{display:block; border:none;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}

 .top{
     width: 99.9%;
     height: 50px;
     border: 1px solid #DBDCDD;
 }
 .top>div{
float: right;
/* margin-right: 30px; */
line-height: 50px;
/* font: size 20px; */
font-size: 14px;
color: #A5A5A5;
font-weight: bold;

 }
.kefu{
    margin-right: 35px;
}
.login{
    margin-right: 35px;
}
.car{
    margin-right: 35px;
}
 .enban{
     margin-right: 70px;
 }

 a{
     text-decoration: none;

 }
 .nov{
     width: 100%;
     /* height: 100px; */

 }
 .clearfix::after{
     content: '';
     display: block;
     clear: both;
 }
 .logo{
width: 55px;
height: 30px;
float: left;
margin-left: 12.2%;
margin-top: 34px;
 }
 .logo img {
    width: 55px;
    height: 30px;
     /* float: left; */
    

 }
 .nov li{
     float: left;
     line-height: 100px;

 }
 /* ul{
     width: ;
 } */
 ul li{
     font-size: 17px;
     font-weight: 900;
 }
 ul li:hover{
     cursor: pointer;
     /* padding-bottom: 10px; */
     /* border-bottom: 10px solid red; */
 }
 ul li:first-child{
margin-left: 236px;
 }
 .li1{
     margin-left: 42px;
 }
.nov .search{
    float: left;
    width: 212px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    border: 1px solid #A5A5A5;
    margin-left: 40px;
}

.enlarge{

    float: left;
    /* margin-top: 13px;
    margin-left: 13px; */
    width: 45px;
    height: 27px;
    margin-top:7px ;
    text-align: center;
    line-height: 27px;
border-right: 1px solid black;
}

.search input{
    float: left;
    width: 140px;
    margin-left: 6px;
    margin-top:10px ;
    border: none;
}

/* 以上是一样的顶部分重复csssssssssssssssssssssssssssssssssssssssssssss */
.banner{
    width: 100%;
    /* min-height: 100%; */
    height: 600px;
    background: url(https://img.fishfay.com/theme/images/antacn/login/login-01.jpg) no-repeat;background-size: 100% 920px;
    position: relative;
    /* overflow: hidden; */
}
.zhuce{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    right: 100px;
    bottom: 50px;
}
.zctop{
    display: flex;
    width: 376px;
    height: 35px;
    background-color: #FBFBFB;
    /* margin-top: 93px; */
    margin: 53px auto 0px auto;
    text-align: center;
    line-height: 35px;
    /* color: white; */
    color: black;
    /* font-size: 20px; */
}
/* .zhuce table tr td:first-child{
    text-align: left;
} */
.zctop div{
    width: 188px;
    height: 35px;
    font-size: 15px;
}
.zctop div:hover{
    cursor: pointer;
}
.zctop div:first-child{
    background-color: black;
    color: white;
}
.zhuce table{
    margin: 20px auto 20px auto;
    /* font-size: 18px; */
    font-weight: bold;

}
td input{
    width: 357px;
    height: 35px;
    border: 1px solid #B2B2B2;
    /* border-radius: 5px; */
    padding-left: 15px;
    margin-top: 10px;
}


table{
    /* color: ; */
    color: #666666;

}

table td{
    
    height: 35px;

}
.danxuan{
    margin-left: 60px;
}
.danxuan input{
    float: left;
    width: 14px;
    height: 14px;
}

.queren{
    width: 357px;
    height: 45px;
background-color: black;
margin: 0 auto;
margin-top: 60px;
text-align: center;
line-height: 45px;
/* color: white; */
color: white;
font-size: 20px;
font-weight: bold;
}



/* 以下是 重复的底部部分csssssssssssssssssssssssssssssss */
.bottom{
    width: 100%;
    height: 266px;
    background-color: #292929;
}

.bottom>div{
    float: left;
}
.keepmove{
width: 566px;
height: 266px;
/* background-image: url(	https://img.fishfay.com/theme/images/logo/slogan-anta-r.svg); */
}
.keepmove img{
    width: 250px;
    height: 96px;
    margin-left: 186px;
    margin-top: 87px;
}
.bottomr{
    width: 663px;
    height: 266px;

}
.righttop{
    width: 663px;
    height: 106px;
    margin-top: 47px;
}
.righttop>div{
    float: left;
}
.rtl{
    width: 424px;
    height: 106px;
    border-right: 1px solid rgb(236, 225, 225);
    color: white;
    font-size: 22px;
}
.rtl>div span:last-child{
    margin-left: 20px;
}
.rtl>div{
    margin-left: 60px;
}
.rtr{
    width: 93px;
    height: 88px;

    background-image: url(	https://img.fishfay.com/theme/images/antacn/qr-code.jpg);
    background-repeat: no-repeat;
    background-size: 93px 88px;
    margin-left: 90px;
    margin-top: 7px;
}
.rightbottom{
    margin-top: 40px;
    width: 663px;
    /* height:160px ; */
color: white;
font-size: 14px;
}
